* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    background-color: #CFF3FF;
    ;
    border-radius: 30px;
}

.img-fluid {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.img-logo {
    width: 10rem;
    height: auto;
}

.btn {
    background: #0492A8;
    color: white;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.form-row {
    align-items: center;
    justify-content: center;
}

input {
    box-shadow: 0px 12px 18px rgb(0 0 0 / 6%);
}

.error-mess {
    margin-bottom: 0.5rem;
    color: rgb(233, 81, 81);
    font-style: italic;
    display: none;
}

#status {
    width: 200px;
    height: 200px;
    position: fixed;
    left: 50%;
    z-index: 100;
    top: 50%;
    background-image: url("../assests/imgs/loading_icon.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    z-index: 1001
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 1000
}

.fa-close {
    position: absolute;
    top: 36%;
    right: 17px;
    color: red;
    opacity: 0.8;
    display: none;
}

#content {
    flex-direction: column;
    display: flex;
}

.alert {
    display: none;
    background-color: #04AA6D;
    /* color: white;  */
    /* background-color: #9fe2ca; */
    color: #239B56;
    /* color: #3c763d;
    background-color: #dff0d8; */
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    font-weight: 600;
    margin-bottom: 5%;
    margin-right: 2%;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

body {
    opacity: 0.9;
    background-image: url(../assests/imgs/background-signup.jfif);
    background-size: cover;
}

.disabled {
    pointer-events: none;
}

.active {
    pointer-events: auto;
}